body {
    color: Black;
    background-image: linear-gradient(rgb(45, 89, 92), white);
}

.jumbotron {
    background-image: url("https://github.com/ParnaKundu/Belly_Button_Biodiversity/blob/main/static/css/bacteria2.JPG");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(248, 5, 248);
}

.article {
    color: whitesmoke
}
